
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.navbar{
  border: 1px solid;
  padding: 2px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
  filter: brightness(1.2);
  font-weight: bold;
  margin-bottom: 20px;
  
  
  color: white;

}
.navbar-brand
{
  display: flex;
  align-items: center;
  font-size: x-large;
  
}

#main-label{
  margin-left: 10px;

}

#main-logo {

  overflow: hidden;
  border-radius: 12px;
  height: 60px;
  margin-bottom: 0px;
  width: auto;

}

 
/* custom icons */ 
.justify-content-end {
  font-size: large !important;
  
}
