

.navbar-brand
{
  font-size: x-large;
}

.justify-content-end {
  font-size: large !important;
}

/* .nav-logo {
    display: flex;
    align-items: auto;
    margin-right: auto;
    
  }

  .logo-icon {
    width:10px;
    display: flex;
    /* width: calc(var(--button-size));
    height: var(--button-size); */
    
  /* } */
  
/*   
  .nav-logo .logo-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    
    
  } */ 