
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");





/* ########################################################## */
/*                       LOGIN / REFISTER                     */
/* ########################################################## */

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}


.create h2 {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

.create input , .create textarea, .fancy-select {
    width: 100%;
    padding: 6px, 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    color: black;


}

.create button{
    background: red;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-roboto);
    background-color: #212426;

}


.create span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.create input:invalid[focused="true"]{
    border: 1px solid red;
}

.create input:invalid[focused="true"] ~ span{
    display: block;
}



/* ########################################################## */
/*                     FLIGHT SEARCH                          */
/* ########################################################## */

.search-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;

width: 100%;
padding: 20px 5px 20px 5px;
border-radius: 10px;
box-shadow: 5px 20px 50px #000;
background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

}

/* 
.date-input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
} */


.date-input {
  border-radius: 4px;
  width: 20%;
  height: 40px;
  text-align: center;

 }


.country-input{
    width: 20%;
    height: 40px;
    font-size: 18px;
    
}


.search-button {
    justify-content: center;
    background: #f0d658;
    font-size: 18px;
    border: 1px solid grey;
    cursor: pointer;
    width: 15% ;
    height: 40px ;
    border-radius: 6px;
    

}

.search-button .search-icon {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    
    /* color: black; */
    
}

/* .search-button:hover , .country-input:hover, .date-input:hover{
    filter: brightness(85%);
  }
  */

  .search-button:hover {
    filter: brightness(1.2);
  }
 


@media (max-width: 800px) {
    .search-container {
        flex-direction: column;
        align-items: center;

        padding: 10px 10px 10px 10px;
    }
    .country-input,.date-input {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;    
        margin-bottom: 13px; 
    }
    .search-button {
        width: 100%;

    } 

}



