
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}


.create h2 {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

.create input , .create textarea, .fancy-select {
    width: 100%;
    padding: 6px, 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    color: black;


}

.create button{
    background: red;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* removes the arrows at numerinc input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.create span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.create input:invalid[focused="true"]{
    border: 1px solid red;
}

.create input:invalid[focused="true"] ~ span{
    display: block;
}