{% extends 'base_home.html' %}


{% block navbar %}
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="\flight_app">Welcome {{request.user.username}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{account}} Actions</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/flight_app/"> My Airline Flights </a></li>
                        <li><a class="dropdown-item" href="#"> Search for flight to update or delete </a></li>
                        <li></li><a href="{% url 'add flight'%}" class="dropdown-item">Add Flight</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">ALL Flights Info</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/flight_app/members/flights/all">All flights</a></li>
                      <li><a class="dropdown-item" href="/flight_app/members/search/flights/departure">Departure Flights By Country </a></li>
                      <li><a class="dropdown-item" href="/flight_app/members/search/flights/arrival">Arrival Flights By Country </a></li>
                      <li><a class="dropdown-item" href="/flight_app/members/search/flights/byairline"> Flights By Airline </a></li>     
                  </ul>
              </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Airline Info</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/flight_app/members/airline/all">All airlies</a></li>
                    <!-- <li><a class="dropdown-item" href='/flight_app/members/airline/byid'>Search airline by ID</a></li> -->
                    <!-- <li><a class="dropdown-item" href="/flight_app/members/airline/byparams">Search airlines</a></li>  -->
                    <li><a class="dropdown-item" href="/flight_app/members/airline/bycountry">Airline by Country</a></li>                       
                </ul>
            </li>
        </ul>  
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Country Info</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/flight_app/members/country/all">All contries</a></li>
                  <!-- <li><a class="dropdown-item" href='/flight_app/members/country/byid'>Search country by ID</a></li> -->
                     
              </ul>
          </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/flight_app/members/search/flights/">Flights</a></li>
                                  
        </li>
    </ul>
              <li class="nav-item">
                <a class="nav-link" href="https://17rg073sukbm1lmjk9jrehb643-wpengine.netdna-ssl.com/wp-content/uploads/2014/10/ancient-aliens-invisible-something-meme-generator-im-not-saying-it-was-aliens-but-it-was-aliens-a0f6bd.jpg">Aliens</a>
              </li>
              <li class="nav-item dropdown">

                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <!-- <li> <a class="dropdown-itemk" href="/flight_app/members/update_account">Account Details</a></li> -->
                        <li> <a class="dropdown-item" href="/flight_app/members/update_account">Update Account</a></li>
                        <li><a class="dropdown-item" href="/flight_app/logout">Log Out</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}


{% block content %}

<div>
  <div class="card text-center">
  <h1 class="display-1">  {{Airline}}</h1></div>
{% for flight in Flights %}
  <div  class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Flight #:{{flight.id}}</h5>
      <small class="text-muted">Remaining tickets: {{flight.remaining_tickets}}</small>
  </div>
      <p class="mb-1">From {{flight.origin_country}} to {{flight.destination_country}}</p>
      <p class="mb-1">Departing at {{flight.departure_time}} and landing at {{flight.landing_time}}</p>
      <a href="{% url 'update flight' flight.pk %}" class="btn btn-primary btn-sm">Update</a>
      <a href="{% url 'delete flight' flight.pk %}" class="btn btn-danger btn-sm">Delete</a>
  </div>
{%endfor%}
  


</div>
{% endblock %}