<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all airlines </h1>
    <ul>
    {% for info in all_airlines %}
    <li>{{info.id}},{{info.name}},{{info.country_id}}, {{info.user_id}}</li>
    {% endfor %} 
    </ul>
    
    <h1>airline by id  </h1>
    <ul>
    {% for info in airline_by_id %}
    <li>{{info.id}},{{info.Name}},{{info.country_id}}, {{info.user_id}}</li>
    {% endfor %} 
    </ul>
    
    <h1>airline by params </h1>
    <ul>
    {% for info in airline_by_params %}
    <li>{{info.id}},{{info.name}},{{info.country_id}}, {{info.user_id}}</li>
    {% endfor %} 
    </ul>

</body>
</html>