{% extends 'cust_home.html' %}

{% block content %}
<div>
    <div class="card text-center">
      <h1 class="display-1">All My Tickets</h1>
    </div>
      {% for info in all_tickets %}
      <div  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ticket id {{info.id}}, for flight id {{info.flight.id}}</h5>
        <small class="text-muted">For customer: {{info.customer}}</small>
        </div>
          <p class="mb-1">From {{info.flight.origin_country}} to {{info.flight.destination_country}}</p>
          <p class="mb-1">Departing at {{info.flight.departure_time}} and landing at {{info.flight.landing_time}}</p>
          <a href="#" class="btn btn-primary btn-sm">Update</a>
          <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </div>
        {% endfor %} 
    
    
    </div>
{%  endblock %}♥