{% extends 'admin_home.html' %}
{% block content %}
<style>
    </style>   
               

<div>
        <div class="card text-center">
        <h1 class="display-1">  All customers</h1></div>
    {% for customer in customers %}
        <div  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> {{customer}}</h5>
            <small class="text-muted">Username: {{customer.account}}</small>
        </div>
        </br>
        <p class="mb-1">Lives in {{customer.address}}. Phone Number: {{customer.phone_number}}</p>
        <p class="mb-1">Email: {{customer.account.email}}</p>
        <a href="{% url 'add admin' customer.account %}" class="btn btn-primary btn-sm">Add as Admin</a>
        <a href="{% url 'add airline' customer.account %}" class="btn btn-primary btn-sm">Add as Airline</a>
        <a href="{% url 'delete user' customer.account %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    {%endfor%}
{% endblock %}