

/* webkit used for chrome 
  moz used for firefox
  o used for opera\
  */ 

body {
    /* background: #e8ededab; */
    /* background: rgb(207, 32, 32); */
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("./assets/Background/Backgound1.jpg");
  }


input {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;      
    font-size: 18px;
      
    }
    

input:hover  {
    border-color: rgba(255, 255, 0, 0.8);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 205, 12, 0.97);
    outline: 0 none;
}



/* Removes arrors in number field for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}

/* Removes arrors in number field for Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}


