body {
  /* /*  margin: 0; */
    background: #151616;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-image: url("./assets//Background//Backgound1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  input[type=text], input[type=number] , input[type=date] {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    font-size: 18px;
    /* height: 40px; */

  }
  
  input[type=text]:focus ,input[type=number]:focus  , input[type=date]:focus  {
      border-color: rgba(255, 255, 0, 0.8);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 205, 12, 0.97);
      outline: 0 none;
  }



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

input[type=date] {
  font-size: 18px;
}


