/* body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #D1D1D1;
    padding-top: 100px;
} */
---------------------------------

.mb15 {
    margin-bottom: 15px;

}

/* @media (max-width: 50%) {
    .card  {
      flex-direction: column;
    }
    /* .country-input,.date-input, .search-button {
        width: 100%; */


.card {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2vw ;
    /* transition: .2s ease-in-out 0s; */


}
.card .card__img-wrap {
    height: 150px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}
.card .card__img-wrap img {
    width: 100%;
    height: 100%;
    
}

.card .title-overlay-center {
    color: #fff;
    text-align: center;

    /* display: block; */
    width: 100%;

    
    position: absolute;
    top: 45%;

}
.h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.h4, h4 {
    font-size: 18px;
}
.card-big .card__info {
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    float: right;
    width: 100%;
    border-bottom: 1px dashed #D1D1D1;
    
}
.card .card__info {
    padding: 15px;
}

.card-big .title-left-wrap {
    float: left;
    width: 40%;
    text-align: left;
}
.card-big .card__info small {
    color: #8B8B8B;
    text-transform: uppercase;
}
.card-big .icon-center-wrap {
    float: left;
    text-align: center;
    width: 20%;
}

.flight-icon{
    transform: rotate(90deg);
    font-size: 140%;
}


.card-big .title-right-wrap {
    float: left;
    width: 40%;
    text-align: right;
}

/*#######################################*/
/* flight page */
/*#######################################*/

.card-big .card__ticketlist {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    /* float: left;
    width: 100%; */
    /* position: absulute; */

    padding: 10px 10px;
    border-bottom: 1px dashed #F5F5F5;
    transition: .2s ease-in-out 0s;

}
.card-big .airline-wrap {
    float: left;
    max-width: 20%;
    font-size: 100%; 
    /* border: 1px solid #F5F5F5; */
    /* border-radius: 8px; */
    height: 36px;

    text-align: left;


}


/* .card__ticketlist:hover{
    transform: scale(1.2);
    height: 150% ;
} */



.card-big .icon-wrap{
    float: left;
    width: 30%;
    text-align: center;
    overflow: hidden;
    transition: .2s ease-in-out 0s;
}

.card-big .icon-wrap i {
    display: block;
    color: #D1D1D1;
    font-size: 20px;
}


/* .icon-wrap:hover { */
    /* width: 200%; */
    /* cursor: pointer; */
    /* transform: scale(1.5); */
    /* text-align: center; */


/* } */

.card-big .icon-wrap .book-btn , .remove-btn {
    color: #8B8B8B;
}

.card-big .ticket-wrap {
    /* float: right; */
    max-width: 30%;
    text-align: right;
        
}



.card .ticket {
    color: #113F6D;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
}

.card .ticket .ticket-left {
    font-size: 85%;
    color: #8B8B8B;
}
.card-big .ticket-wrap .book-btn {

    background-color: #b5a553;
    color: white;
    font-size: 20px;
    border: 1px solid grey;

    text-transform: uppercase;
    padding: 3px 5px;
    /* border-radius: 3px; */
    font-size: 11px;
    transition: .2s ease-in-out 0s;

    }


.card-big .ticket-wrap .remove-btn {

        background-color: red;
        color: white;
        font-size: 20px;
        border: 1px solid grey;
    
        text-transform: uppercase;
        padding: 3px 5px;
        /* border-radius: 3px; */
        font-size: 11px;
        transition: .2s ease-in-out 0s;
    
        }
        
    


.card-big .ticket-wrap .book-btn:hover , .remove-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
    border-radius: 50%;
}



/* .book-btn:disabled {
    background-color: red;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    } */
